body{
  margin:0;
  font-family:Poppins,Arial;
  background:#0f172a;
  color:#e5e7eb;
}
nav{
  display:flex;justify-content:space-between;
  padding:20px;background:#020617;position:sticky;top:0;
}
nav ul{display:flex;list-style:none;}
nav li{margin-left:20px;}
nav a{color:white;text-decoration:none;}
.hero{text-align:center;padding:80px;}
.profile{width:150px;border-radius:50%;margin-bottom:20px;}
.btn{display:inline-block;margin-top:20px;padding:10px 20px;background:#38bdf8;color:#000;text-decoration:none;}
section{padding:60px 10%;}
.grid{display:grid;grid-template-columns:repeat(auto-fit,minmax(120px,1fr));gap:10px;}
.grid span,.card{background:#020617;padding:15px;border-radius:8px;}
form{max-width:400px;margin:auto;display:flex;flex-direction:column;}
input,textarea,button{margin:8px 0;padding:10px;}
button{background:#38bdf8;border:none;}
footer{text-align:center;padding:20px;background:#020617;}
